/* width */
.containerText ::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
  height: 5px; /* Adjust the height as needed */
}

/* Track */
.containerText ::-webkit-scrollbar-track {
  background-color: transparent; /* Replace with your desired color */
  margin-top: 3.2vh;
}
/* Handle */
.darkscroll ::-webkit-scrollbar-thumb {
  background-color: #000000; /* Replace with your desired color */
  border-radius: 10px;
}

.lightscroll ::-webkit-scrollbar-thumb {
  background-color: #3b52ff; /* Replace with your desired color */
  border-radius: 10px;
}
/* Handle on hover */
.containerText ::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Replace with your desired color */
}


.containerText {
  width: 30%;
  margin-top: 10px;
  border-radius: 30px;
  overflow: hidden;
  
}
.text_container {
  height: 300px;
  background-color: rgba(224, 221, 221, 0.555);
  border-radius: 2px;
  padding: 20px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
}
.containerText h4 {
  margin: 10px 20px 10px 0;
}
.containerFooter {
  display: flex;
  padding: 4%;
  padding-top: 0;
}
.textInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 3%;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(178, 172, 172, 0.555);
  border: none;
}
.onlineStatus{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(178, 172, 172, 0.555);
  border: none;
}
.text::after {
  border: none;
}
.userName{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 3%;
  padding: 10px 20px;
  background-color: rgba(178, 172, 172, 0.555);
  font-weight: bolder;

}
.button {
  background-color: rgb(56, 91, 249);
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
}

.chat {
  max-width: fit-content;
  margin-top: 10px;
  background-color: rgb(165, 210, 249);
  padding: 5px 7px;
  border-radius: 5px;
}
.chatgroup {
  max-width: fit-content;
  margin-top: 10px;
  background-color: rgb(51, 160, 255);
  padding: 5px 7px;
  border-radius: 5px;
  align-self: flex-end;
}
.sender {
  margin-top: 5px;
  max-width: fit-content;
}
.senderChatName {
  font-size: 10px;
  text-transform: capitalize;
  

}
.userProfile{
  width: 100%;
  text-align: center;
  flex: 1;
  background-color: rgba(178, 172, 172, 0.555);
  border: none;

}
.senderChat {
  max-width: fit-content;
  margin-top: 2px;
  background-color: rgb(165, 210, 249);
  padding: 5px 7px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .containerText {
    width: 100%;
    margin: 20px;
    max-height: 200px;
  }
  .text_container {
    height: 200px;
  }
}
